<div class="bg-white">
  <div class="mx-auto max-w-2xl lg:max-w-7xl lg:px-8">

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% @properties.each do |property| %>
        <div class="group relative">
          <div class="aspect-[7/6] w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">     
            <%= image_tag property.images.first, style: 'height:320;width:304;', alt: "Image of #{property.city}, #{property.country}" %>
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-base font-semibold text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  <%= "#{property.city}, #{property.country}" %>
                </a>
              </h3>
              <p class="text-sm text-gray-500">∞ miles away</p>
              <p class="text-sm text-gray-500">Dec 15-18</p>
              <p class="mt-1 text-sm text-gray-700"><span class="font-semibold"><%= property.price %></span> night</p>
            </div>
            <p class="text-sm text-gray-700">★ <%= property.rating %></p>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>